body{
	background-color: #65E7ED;
}
a {
	text-decoration: none
}
#logo-text{
	color: #305FD4;
	text-align: center;
	font-family: "Georgia";
	font-weight: bold;
	font-size: 150%;
}
#calendar{
	text-align: center;
}
#month-table{
	display:  table;
}
#month-table a{
	cursor: default;
}
#month-table td{
	color: #2c0c8a;
	text-align: center;
}
#month-table .d{
	font-weight: bold;
	padding: 0.43em;
	color: #4212D0;
	border: 1px solid #5C31DE;
}
#month-table .d:hover{
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(100,100,100,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(100,100,100,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(100,100,100,0.75);
}

#record-form{
	background-color: #9DB7F7;
	padding: 1em;
	padding-left: 40%;
	text-align: left;
	
}
#record-form input, #record-form textarea{
	background-color: #f2f2f2;
	border: 1px dotted black;
	width: 20em;
	height: 2em;
}
#record-form input[type='submit']{
	background-color: #cccccc;
}
#record-form textarea{
	height: 5em;
}

.busy, .free{
	display: inline-block;
	min-width: 15em;
	min-height: 8em;
	text-overflow: ellipsis;
	font-weight: bold;
    font-style: italic;
	color: #4212D0;
	border: 1px solid #305FD4;
	padding: 0.6em;
	margin: 0.5em;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.free{
	background-color: #FFFE6E;
}
.busy{
	background-color: #FF796E;
}
.error{
	background-color: #FF796E;
	font-weight: bold;
    font-style: italic;
	color: #4212D0;
	border: 1px solid #305FD4;
	padding: 0.6em;
	margin: 0.5em;
}
.info{
	position: absolute;
	min-width: 16.2em;
	min-height: 14em;

	text-align: left;
}
.record{
    position: absolute;
	top: 7.9em; left: 0em;
	min-width: 82%;
	text-align: center;
    background: rgba(255,255,230,0.9);
	color: black;
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
}
.days{
	background-color: #9DB7F7;
	padding: 0.2em;
}
.month{
	display: inline-block;
	min-width: 16.2em;
	min-height: 18em;
	height: 18em;
	text-align: center;
	color: #4212D0;
	border: 1px solid #305FD4;
	padding: 0.6em;
	margin: 0.5em;
	background-color: #9DB7F7;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.month:before, .month:after {
    content:"";
    position:absolute;
    z-index:-2;
}
.del-add{
	position: absolute; 
	right: 1em; 
	margin-top: -4.5em;
	font-size: 120%;  
	color: black;
}
.del-add a{
	color: black; 
	border-radius: 2em; 
	padding: 0 0.4em 0.1em 0.4em; 
	border: 1px solid black;
}